.navbar {
  width: 100vw;
  height: 3.5rem;
  background-color: #333;
  padding: 0 5rem;
}
.navbar > div {
  background-color: #333;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar > div div {
  height: 100%;
  display: flex;
  align-items: center;
  color: #fff;
}
.navbar > div div ul {
  height: 100%;
  display: flex;
  align-items: center;
}
.navbar > div div ul li {
  padding: 0 1rem;
  color: #fff;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Inter", sans-serif;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

main {
  padding: 5rem 2rem;
}

fieldset .form-group {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 10rem;
  margin-right: 3rem;
}

fieldset .form-group input {
  height: 2rem;
  margin-top: 1rem;
  border-radius: 5px;
  padding-left: 1rem;
}

fieldset .form-group textarea {
  height: 5rem;
  margin-top: 1rem;
  border-radius: 5px;
  padding-left: 1rem;
  padding-top: 0.5rem;
}

fieldset .form-group button {
  cursor: pointer;
  align-self: flex-end;
  width: 10rem;
  height: 3rem;
  border: none;
}

div.image-raffle {
  display: flex;
  flex-wrap: wrap;
}

div.image-raffle input {
  display: none;
}

div.image-raffle label {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  font-size: 1.7rem;
  color: #fff;
  width: 8rem;
  height: 8rem;
  display: flex;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  background-color: #ccc;
  transition: 0.5s;
}

div.image-raffle label > img {
  position: absolute;
  width: 8.2rem;
}

div.image-raffle label:hover {
  background-color: #333;
  transition: 0.5s;
}

.my-raffles-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.my-raffles-body ul {
  display: flex;
  flex-wrap: wrap;
}

.my-raffles-body li {
  margin: 0.7rem;
}

.my-raffles-body li > div:nth-child(2) {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 10rem;
  height: 10rem;
  overflow: hidden;
  border-radius: 0.25rem;
}

.my-raffles-body li > div:nth-child(1) {
  display: flex;
  justify-content: center;
}

.my-raffles-body li > div:nth-child(2) > div:nth-of-type(2) {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
}

.my-raffles-body li > div:nth-child(2) > div:nth-of-type(2) > img {
  width: 11rem;
  transition: 0.5s;
}

.my-raffles-body li > div:nth-child(2) > div:nth-of-type(3) {
  width: 100%;
  z-index: 50px;
  top: 9rem;
  position: absolute;
  display: flex;
  justify-content: center;
}
.my-raffles-body li > div:nth-child(2) > div:nth-of-type(3) span {
  border-radius: 50%;
  margin: 0 3px;
  width: 10px;
  height: 10px;
  background-color: #fff;
  box-shadow: 0 0 3px black;
  border: solid #333 1px;
}
.my-raffles-body li > div:nth-child(2) > div:nth-of-type(3) span:nth-of-type(1) {
  background-color: red;
}

.my-raffles-body li > div:nth-child(2) > div:nth-of-type(1) {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
}
.my-raffles-body li > div:nth-child(2) > div:nth-of-type(1) button {
  cursor: pointer;
  width: 2.5rem;
  height: 100%;
  border: none;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  opacity: 0;
  transition: 0.5s;
  font-weight: bold;
}
.my-raffles-body li > div:nth-child(2) > div:nth-of-type(1) button:hover {
  opacity: 1;
  transition: 0.5s;
}

.my-raffles-body a {
  cursor: pointer;
  text-decoration: none;
  margin-top: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 3rem;
  background-color: #333;
  color: #fff;
  border-radius: 0.6rem;
}

.my-raffles {
  margin-left: 22rem;
}
