fieldset{
    
}

fieldset .form-group{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 10rem;
    margin-right: 3rem;
}

fieldset .form-group input{
   
    height: 2rem;
    margin-top: 1rem;
    border-radius: 5px;
    padding-left: 1rem;
}

fieldset .form-group textarea{
    height: 5rem;
    margin-top: 1rem;
    border-radius: 5px;
    padding-left: 1rem;
    padding-top: 0.5rem;
}

fieldset .form-group button{
    cursor: pointer;
    align-self: flex-end;
    width: 10rem;
    height: 3rem;
    border: none;
}

div.image-raffle{
    display:flex;
    flex-wrap: wrap;
}

div.image-raffle input{
    display:none;
}

div.image-raffle label{
    cursor: pointer;
    font-size: 1.7rem;
    color:#fff;
    width: 8rem;
    height: 8rem;
    display: flex;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    background-color: #ccc;
    transition: 0.5s;
}

div.image-raffle label:hover{
    background-color: #333;
    transition: 0.5s;
}




