.auth{
    display:flex;
    width:100vw;
    height: 100vh;
    box-sizing: border-box;
}

.container-auth{
    display:flex;
    width:100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;

    .banner-auth{
        display: flex;
        justify-content: center;
        width: 50vw;
        overflow: hidden;
        img{
            height:100vh;
        }
    }

    .form-auth{
        display: flex;
        width: 50vw;
        height: 100vh;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        padding: 10rem;
        box-shadow: -5px 1px 10px rgba(0,0,0,0.2);

        .form-group{
            width: 100%;
            display: flex;
            flex-direction: column;
            
            label{
                color:$black;
                margin-bottom: 0.5rem;
            }
            .input{
                display: flex;
                position: relative;
                span{
                    color:$blue;
                    top: 5px;
                    left:0;
                    position: absolute;
                }
                input{
                    padding-left: 2rem;
                    
                    color:$black;
                    border: none;
                    border-bottom: 1px solid $blue;
                    height: 2rem;
                    width: 100%;
                    // border-radius: 10px;
                    // border: solid 1px $blue;
                    margin-bottom: 1.5rem;
                    transition: 0.3s;
                    &:focus{
                        outline: none;
                        transition: 0.3s;
                    }
                }
                
            }
            
            button{
                cursor: pointer;
                margin-top: 1rem;
                background-color: $blue;
                color:white;
                border: none;
                width:8rem;
                height: 2.5rem;
            }

            
        }
        a.reset{
            align-self: flex-start;
            margin-top: 1rem;
        }
    }


}

@media(max-width:1200px){
    .container-auth{
    
        .form-auth{
           padding: 8rem;
        }
    }


    
}

@media(max-width:1100px){
    .container-auth{
        .banner-auth{
            width:30vw
        }
        .form-auth{
            width: 70vw;
        }
    }


    
}

@media(max-width:800px){
    .container-auth{
        .banner-auth{
            display: none;
            width:30vw
        }
        .form-auth{
            width: 100vw;
        }
    }

    
    
}